In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sqlalchemy import create_engine
from config import db_password

# File to Load
dataset_one_to_load = "Resources/AnimalIntakeWithResultsExtended2018.csv"

In [2]:
# Read the School Data and Student Data and store into a Pandas DataFrame
dataset_one_df = pd.read_csv(dataset_one_to_load)

In [3]:
dataset_one_df.head()

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,Cat,Domestic Shorthair,Mix,NaN,F,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,Dog,Basset Hound,Mix,NaN,M,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
#dataset_one_binary_encoded = pd.get_dummies(dataset_one_df, columns=["Altered", "Gender"])
#dataset_one_binary_encoded.head()

In [5]:
#combine encoded columns for gender and altered with sklearn labelencoder

le = LabelEncoder()
df = dataset_one_df.copy()
df['Altered'] = le.fit_transform(df['Altered'])
df

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,Cat,Domestic Shorthair,Mix,NaN,F,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,Cat,Domestic Shorthair,Mix,NaN,F,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,Dog,American Blue Heeler,Mix,NaN,M,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,Dog,American Blue Heeler,Mix,NaN,M,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,Dog,Basset Hound,Mix,NaN,M,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,A39729475,sn251,Willa,Cat,Cat,Domestic Shorthair,Mix,NaN,F,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,A39729595,sn252,Mina,Cat,Cat,Domestic Shorthair,Mix,NaN,F,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,A39729787,sn258,Oreo,Cat,Cat,Domestic Shorthair,Mix,NaN,M,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,A39729802,sn259,Nacho,Cat,Cat,Domestic Shorthair,Mix,NaN,F,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,A39729819,sn260,Little Tim,Cat,Cat,Domestic Shorthair,Mix,NaN,F,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
df['Gender'] = le.fit_transform(df['Gender'])
df

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,Cat,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,Cat,Domestic Shorthair,Mix,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,Dog,American Blue Heeler,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,Dog,American Blue Heeler,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,Dog,Basset Hound,Mix,NaN,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,A39729475,sn251,Willa,Cat,Cat,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,A39729595,sn252,Mina,Cat,Cat,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,A39729787,sn258,Oreo,Cat,Cat,Domestic Shorthair,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,A39729802,sn259,Nacho,Cat,Cat,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,A39729819,sn260,Little Tim,Cat,Cat,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [7]:
df['Species'] = le.fit_transform(df['Species'])
df

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,0,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,0,Domestic Shorthair,Mix,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,1,American Blue Heeler,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,1,American Blue Heeler,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,1,Basset Hound,Mix,NaN,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,A39729475,sn251,Willa,Cat,0,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,A39729595,sn252,Mina,Cat,0,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,A39729787,sn258,Oreo,Cat,0,Domestic Shorthair,Mix,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,A39729802,sn259,Nacho,Cat,0,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,A39729819,sn260,Little Tim,Cat,0,Domestic Shorthair,Mix,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [8]:
df = df.drop(columns=['ARN','Animal Name','Distinguishing Markings', "Animal #", "Danger", "Danger Reason", "Date Of Birth", "Intake Asilomar Status"])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Record Owner,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,Ginny Theisen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,Ginny Theisen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,Ginny Theisen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,Ginny Theisen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,Cynthia O'Neill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [9]:
df = df.drop(columns=['Intake Record Owner', 'Agency Member', 'Agency Member Phone', 'Agency Address', 'Intake Person ID Type', 'Intake Person #'])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
df = df.drop(columns=['Admitter', 'Street Address', 'Unit Number', 'City', 'Province', 'Postal Code', "Admitter's Email", "Admitter's Home Phone", "Admitter's Cell Phone", 'Initial Stage'])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [11]:
df = df.drop(columns=['Microchip Issue Date', 'Microchip Provider', 'Microchip Number', 'Pet ID', 'Pet ID Type', 'Status'])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [12]:
df = df.drop(columns=['Stage', 'Location', 'Sublocation', 'Outcome Asilomar Status', 'Outcome Number', 'Released By', 'Date Created', 'Outcome SiteName', 'Jurisdiction Out', 'Outcome Person ID'])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [13]:
df = df.drop(columns=['Outcome Person ID Type', 'Outcome Person #', 'Outcome Person Name', 'Out Unit Number', 'Out Email' ])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [14]:
df = df.drop(columns=['Out Home Phone', 'Out Cell Phone', 'Agency Unit Number', 'Agency City', 'Agency Province', 'Agency Postal Code', 'Agency Email', 'Agency Home Phone', 'RN', 'Intake SiteName', 'Jurisdiction In', 'Agency Street Address', 'Agency Cell Number', 'Intake Person ID', 'Initial Review Date'])
df

,Animal Type,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,...,Outcome Date,Release Date,Outcome Type,Outcome Subtype,Outcome Reason,Out Street Address,Out City,Out Province,Out Postal Code,Outcome Agency Name
0,Cat,0,Domestic Shorthair,Mix,0,1,24.0,Adult,Normal,5/4/2018 4:44 PM,...,8/8/2018 2:02 PM,8/8/2018 2:02 PM,Adoption,Adoption Center,NaN,N3762 Maple Grove Road,Weyauwega,WI,54983.0,NaN
1,Cat,0,Domestic Shorthair,Mix,0,0,24.0,Adult,Normal,5/5/2018 5:32 PM,...,5/22/2018 2:21 PM,NaN,Euthanasia,Temperment,NaN,NaN,NaN,NaN,NaN,NaN
2,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Injured,5/5/2018 6:06 PM,...,6/8/2018 1:28 PM,6/8/2018 1:28 PM,Adoption,Adoption Center,NaN,S2888 Waumandee Creek Road,Fountain City,WI,54629.0,NaN
3,Dog,1,American Blue Heeler,Mix,1,1,1.0,Baby,Normal,5/5/2018 6:17 PM,...,6/4/2018 12:47 PM,6/4/2018 12:47 PM,Adoption,Adoption Center,NaN,E3499 Tanner Road,Ogdensburg,WI,54962.0,NaN
4,Dog,1,Basset Hound,Mix,1,0,NaN,Adult,Normal,5/12/2018 5:47 PM,...,5/14/2018 1:15 PM,5/14/2018 1:15 PM,Return to Owner/Guardian,Stray Reclaim,NaN,409 Scott Street,Waupaca,WI,54981.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:06 PM,...,9/21/2018 12:08 PM,9/21/2018 12:08 PM,Clinic Out,Other,NaN,312 S Western Avenue,Waupaca,WI,54981.0,NaN
570,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:13 PM,...,9/21/2018 12:19 PM,9/21/2018 12:19 PM,Clinic Out,Other,NaN,312 S Western Avenue,Waupaca,WI,54981.0,NaN
571,Cat,0,Domestic Shorthair,Mix,1,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,9/21/2018 12:31 PM,9/21/2018 12:31 PM,Clinic Out,Other,NaN,E9625 Hickory Ridge Lane,New London,WI,54961.0,NaN
572,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,9/21/2018 12:34 PM,9/21/2018 12:34 PM,Clinic Out,Other,NaN,E9625 Hickory Ridge Lane,New London,WI,54961.0,NaN
573,Cat,0,Domestic Shorthair,Mix,0,1,NaN,Young,Normal,9/21/2018 12:25 PM,...,9/21/2018 12:36 PM,9/21/2018 12:36 PM,Clinic Out,Other,NaN,E9625 Hickory Ridge Lane,New London,WI,54961.0,NaN

In [15]:
my_list = df.columns.values.tolist()
my_list

['Animal Type',
 'Species',
 'Primary Breed',
 'Secondary Breed',
 'Gender',
 'Altered',
 'Age in Months Intake',
 'Age Group',
 'Intake Condition',
 'Intake Date',
 'Intake Type',
 'Intake Subtype',
 'Found Address',
 'Found Zip Code',
 'Reason',
 'Agency Name',
 'Age in Months Current',
 'Outcome Date',
 'Release Date',
 'Outcome Type',
 'Outcome Subtype',
 'Outcome Reason',
 'Out Street Address',
 'Out City',
 'Out Province',
 'Out Postal Code',
 'Outcome Agency Name']

In [16]:
df.describe()

,Species,Gender,Altered,Age in Months Intake,Found Zip Code,Age in Months Current,Out Postal Code
count,574.000000,574.000000,574.000000,504.000000,565.000000,504.000000,470.000000
mean,0.609756,0.540070,0.902439,17.944444,54699.072566,50.617063,54665.727660
std,0.551984,0.516023,0.296979,34.178413,621.576108,32.684074,1585.910597
min,0.000000,0.000000,0.000000,0.000000,43081.000000,0.000000,37303.000000
25%,0.000000,0.000000,1.000000,1.000000,54456.000000,33.000000,54482.000000
50%,1.000000,1.000000,1.000000,2.000000,54929.000000,38.000000,54947.000000
75%,1.000000,1.000000,1.000000,18.000000,54981.000000,50.000000,54981.000000
max,3.000000,2.000000,1.000000,204.000000,60563.000000,204.000000,60563.000000

In [17]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/HSWC_database"
engine = create_engine(db_string)

In [20]:
df.to_sql(name='Intake_Demo_Table', con=engine, if_exists='replace')