In [1]:
import pandas as pd
import csv
from sklearn.preprocessing import LabelEncoder
from sqlalchemy import create_engine
# from config import db_password -- for Postgres
from geopy.geocoders import Nominatim

#pd.set_option("display.max_rows", None)

# File to Load
dataset_one_to_load = "Resources/AnimalIntakeWithResultsExtended2020.csv"

In [2]:
#THIS IS WITH 2020 CSV FILE ONLY - ALL THREE YEARS MUST BE JOINED WITH SQL IN DB

# Read the intake data and store into a Pandas DataFrame
dataset_three_df = pd.read_csv(dataset_one_to_load)

In [3]:
dataset_three_df.head()

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A01455447,c8836,Missy Sue,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A01659344,NaN,Sandra Dee,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A03782084,c8941,Noel,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A04725465,D2782,Carly,Dog,Dog,Finnish Spitz,Chow Chow,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A22734462,d2379,Rocky,Dog,Dog,German Shepherd,American Blue Heeler,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
# dataset_three_df.dtypes

In [5]:
#Change postal codes from float64 to string

dataset_three_df['Found Zip Code'] = dataset_three_df['Found Zip Code'].map('{:.0f}'.format)
dataset_three_df['Out Postal Code'] = dataset_three_df['Out Postal Code'].map('{:.0f}'.format)

In [6]:
#Encode columns for gender and altered with sklearn labelencoder

le = LabelEncoder()
df = dataset_three_df.copy()
df['Altered'] = le.fit_transform(df['Altered'])

In [7]:
df['Gender'] = le.fit_transform(df['Gender'])

In [8]:
df['Species'] = le.fit_transform(df['Species'])

In [9]:
# Drop non-beneficial columns

df = df.drop(columns=['ARN','Animal Name','Distinguishing Markings', "Animal #", "Danger", "Danger Reason", "Date Of Birth", "Intake Asilomar Status"])

In [10]:
df = df.drop(columns=['Intake Record Owner', 'Agency Member', 'Agency Member Phone', 'Agency Address', 'Intake Person ID Type', 'Intake Person #'])

In [11]:
df = df.drop(columns=['Admitter', 'Street Address', 'Unit Number', 'City', 'Province', 'Postal Code', "Admitter's Email", "Admitter's Home Phone", "Admitter's Cell Phone", 'Initial Stage'])

In [12]:
df = df.drop(columns=['Microchip Issue Date', 'Microchip Provider', 'Microchip Number', 'Pet ID', 'Pet ID Type', 'Status'])

In [13]:
df = df.drop(columns=['Stage', 'Location', 'Sublocation', 'Outcome Asilomar Status', 'Outcome Number', 'Released By', 'Date Created', 'Outcome SiteName', 'Jurisdiction Out', 'Outcome Person ID'])

In [14]:
df = df.drop(columns=['Outcome Person ID Type', 'Outcome Person #', 'Outcome Person Name', 'Out Unit Number', 'Out Email',  'Age in Months Current'])

In [15]:
df = df.drop(columns=['Animal Type','Out Home Phone', 'Out Cell Phone', 'Agency Unit Number', 'Agency City', 'Agency Province', 'Agency Postal Code', 'Agency Email', 'Agency Home Phone', 'RN', 'Intake SiteName', 'Jurisdiction In', 'Agency Street Address', 'Agency Cell Number', 'Intake Person ID', 'Initial Review Date'])

In [16]:
# Pie charts? Bar charts by years? show percentage of Strays turned in by ACO/Police, Public, Born in HSWC
# Show percent strays altered/adopted/euthanized
# Show percent of surgeries that are in clinic vs. resident population
# Show percent Owner Surrender adopted/transferred out/euthanized

in_out_counts_df = df.groupby(['Intake Type',  'Intake Subtype','Outcome Type', 'Outcome Subtype']).size().reset_index(name='counts')
in_out_counts_df.head()

  Intake Type Intake Subtype Outcome Type Outcome Subtype  counts
0      Clinic      Microchip   Clinic Out       Microchip      19
1      Clinic         Neuter   Clinic Out       Microchip       4
2      Clinic         Neuter   Clinic Out           Other      10
3      Clinic         Neuter   Clinic Out    Vaccinations       6
4      Clinic           Spay   Clinic Out       Microchip       4

In [17]:
# this is just a list of partner agencies, most of which accept "Transfer Out/For Adoption" animals, won't use in
# names in statistical analysis, but % of Transfers would be helpful and whether or not spayed/neutered before Xfer

df.rename(columns = {"Outcome Agency Name": "Outcome_Agency_Name"}, inplace=True)
df.Outcome_Agency_Name.unique()

array([nan, 'Green Bay Animal Rescue', 'Bichon and Little Buddies Rescue',
       'Wolf River Vet/ SAFE', 'WI Cocker Rescue',
       'Orphan Animal Rescue - OARS', 'Oshkosh Area Humane Society',
       'Wisconsin Purebred Cat Rescue',
       'Great Pyrenees Rescue of Wisconsin',
       'White Paws German Shepherd Rescue',
       'Minnesota Wisconsin Collie Rescue', 'Shelter From the Storm',
       'Oshkosh Area Humane Society #1'], dtype=object)

In [18]:
# create separate dataframes for found address and adopted address, process these dataframes separately from df
# remove nans before converting to lat/long (not important to keep index of df)

found_address = df[['Found Address', 'Found Zip Code']]
found_address_df = pd.DataFrame(found_address)
found_address_df

     Found Address Found Zip Code
0              NaN          54902
1              NaN          54981
2              NaN          54984
3              NaN          54981
4              NaN          54945
..             ...            ...
493            NaN          54944
494  N Harrison St          54981
495  206 W Main St          54983
496            NaN          54755
497            NaN          54961

[498 rows x 2 columns]

In [19]:
# separate adopted address dataframe
#adopted_address = df[['Out Street Address','Out City','Out Province','Out Postal Code']]
#adopted_address_df = pd.DataFrame(adopted_address)
#adopted_address_df

In [20]:
# remove Nans from addresses dfs, see how many rows are left

found_address_df = found_address_df.dropna()
#adopted_address_df = adopted_address_df.dropna()

found_address_df

                                  Found Address Found Zip Code
11     State Hwy 10 by Airport, Waup. Hwy Dept.          54940
12                                   Berlin St.          54981
13                                      Lake St          54981
14                              Near Fleet Farm          54904
15                                  604 Lake St          54981
..                                          ...            ...
477  Owner arrested, cat taken for safe keeping          54981
478                          600 oak st lot 234          54981
479                      1020 covered bridge rd          54981
494                               N Harrison St          54981
495                               206 W Main St          54983

[92 rows x 2 columns]

In [21]:
found_counts_df = found_address_df.groupby(['Found Address']).size().reset_index(name='counts')
found_counts_df

                  Found Address  counts
0        1020 covered bridge rd       1
1              105 Crestview Dr       1
2          108 Granite St Apt 3       1
3                  116 Water St       1
4              1402 Royalton St       1
..                          ...     ...
72     Wally's bar area, Amy St       1
73             dog yard of HSWC       1
74    left in alcove at shelter       1
75      oborn st and shearer st       1
76  on road close to 800 Oak St       1

[77 rows x 2 columns]

In [22]:
# these are the datapoints that will be mapped to show where adopters are located, columns need to be concat to
#run in geolocater to get lat/long

#adopted_address_df

In [23]:
# drop individual address columns from original df

df = df.drop(columns=['Found Address', 'Found Zip Code', 'Out Street Address', 'Out City', 'Out Province', 'Out Postal Code'])

In [24]:
# 19 (of 87) columns remain in original df
# check list of columns to see what remains
my_list = df.columns.values.tolist()
my_list

['Species',
 'Primary Breed',
 'Secondary Breed',
 'Gender',
 'Altered',
 'Age in Months Intake',
 'Age Group',
 'Intake Condition',
 'Intake Date',
 'Intake Type',
 'Intake Subtype',
 'Reason',
 'Agency Name',
 'Outcome Date',
 'Release Date',
 'Outcome Type',
 'Outcome Subtype',
 'Outcome Reason',
 'Outcome_Agency_Name']

In [25]:
df.describe()

          Species      Gender     Altered  Age in Months Intake
count  498.000000  498.000000  498.000000            435.000000
mean     0.522088    0.530120    0.863454             18.149425
std      0.515859    0.542088    0.343713             35.134937
min      0.000000    0.000000    0.000000              0.000000
25%      0.000000    0.000000    1.000000              1.000000
50%      1.000000    1.000000    1.000000              2.000000
75%      1.000000    1.000000    1.000000             17.000000
max      2.000000    2.000000    1.000000            192.000000

In [26]:
#Rename column headers

#found_address_df.rename(columns = {"Found Address": "Found_Address"}, inplace=True)
#found_address_df.rename(columns = {"Found Zip Code": "Found_Zip_Code"}, inplace=True)

In [27]:
# Remove non-address addresses, such as unknown, HSWC, in found_address

#found_address_df = found_address_df[found_address_df.Found_Address != "left in alcove at shelter"]
#found_address_df = found_address_df[found_address_df.Found_Address != "left in alcove at shelter"]
#found_address_df = found_address_df[found_address_df.Found_Address != " in a box marked free"]
#found_address_df = found_address_df[found_address_df["Found_Address"].str.contains("Owner arrested, cat taken for safe keeping 	")==False]
#found_address_df

In [28]:
# Using separate cleaned address dataframes, concat separate address columns into one for lat/long conversion

#found_address_df["clean_found_address"] = found_address_df['Found_Address'].map(str) + '  ' + found_address_df['Found_Zip_Code'].map(str)
#found_address_df

In [29]:
#adopted_address_df['clean_adopted_address'] = adopted_address_df['Out Street Address'].map(str) + ', ' + adopted_address_df['Out City'].map(str) + ', ' + adopted_address_df['Out Province'].map(str) + ', ' + adopted_address_df['Out Postal Code'].map(str)
#adopted_address_df

In [30]:
#this may be used on separate addresses dataframes
#EXAMPLE INPUT ADDRESS/OUTPUT using Nominatim

geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")
location = geolocator.geocode('4550 Kester Mill Rd,Winston-Salem,NC')
print(location)
print((location.latitude, location.longitude))

Walmart Supercenter, 4550, Kester Mill Road, Winston-Salem, Forsyth County, North Carolina, 27103, United States
(36.06752315, -80.3372069310351)

In [31]:
#use GeoPy/Nominatim to convert Found_Address and Adopter_Address to lat/long
# add columns to store lat/long 

#found_address_df['found_geocode'] = found_address_df.clean_found_address.apply(geolocator.geocode)
#adopted_address_df['adopted_geocode']= adopted_address_df.clean_adopted_address.apply(geolocator.geocode)

In [32]:
#found_address_df

In [33]:
#adopted_address_df

In [34]:
# found_address_df.dtypes

## Address conversion to lat/long - removal of Nones

In [35]:
# obtain lat/long for each address

#found_address_df['found_lat'] = [g.latitude if g is not None else 0 for g in found_address_df.found_geocode]
#found_address_df['found_long'] = [g.longitude if g is not None else 0 for g in found_address_df.found_geocode]

In [36]:
#found_address_df.head()

In [37]:
#adopted_address_df['adopted_lat'] = [g.latitude if g is not None else 0 for g in adopted_address_df.adopted_geocode]
#adopted_address_df['adopted_long'] = [g.longitude if g is not None else 0 for g in adopted_address_df.adopted_geocode]

In [38]:
#adopted_address_df.head()

In [39]:
df.head()

,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,Intake Type,Intake Subtype,Reason,Agency Name,Outcome Date,Release Date,Outcome Type,Outcome Subtype,Outcome Reason,Outcome_Agency_Name
0,0,Domestic Shorthair,Mix,0,1,168.0,Senior,Normal,9/28/2020 3:04 PM,Clinic,Vaccinations,NaN,NaN,9/28/2020 3:09 PM,9/28/2020 3:09 PM,Clinic Out,Vaccinations,NaN,NaN
1,0,Domestic Shorthair,Mix,0,1,181.0,Adult,Normal,2/26/2020 4:01 PM,Return,Euthanasia Owner Request,Time - Not Enough,NaN,2/26/2020 6:57 PM,2/26/2020 6:57 PM,Return to Owner/Guardian,Owner Reclaim,NaN,NaN
2,0,Domestic Shorthair,Mix,0,1,153.0,Senior,Normal,5/15/2020 10:10 AM,Return,Beyond Exchange Period,Other,NaN,9/26/2020 5:23 PM,NaN,Died,Ill,NaN,NaN
3,1,Finnish Spitz,Chow Chow,0,1,155.0,Young,Normal,7/30/2020 11:35 AM,Return,Beyond Exchange Period,Other,NaN,8/1/2020 11:31 AM,8/1/2020 11:31 AM,Return to Owner/Guardian,Owner Reclaim,NaN,NaN
4,1,German Shepherd,American Blue Heeler,1,1,79.0,Adult,Normal,5/29/2020 12:00 PM,Return,Beyond Exchange Period,Death of Owner,NaN,5/29/2020 12:03 PM,5/29/2020 12:03 PM,Adoption,Adoption Center,NaN,NaN

In [40]:
#save cleaned df to csv
# save addresses dfs to separate csv files

#df.to_csv('third_clean_intake.csv', index=False)

In [41]:
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/HSWC_database"
#engine = create_engine(db_string)

In [42]:
#df.to_sql(name='Intake_Demo_Table', con=engine, if_exists='replace')