In [1]:
import pandas as pd
import csv
#from sklearn.preprocessing import LabelEncoder
#from sqlalchemy import create_engine
# from config import db_password -- for Postgres
#from geopy.geocoders import Nominatim

pd.set_option("display.max_rows", None)

# File to Load
dataset_one_to_load = "Resources/AnimalIntakeWithResultsExtended2018.csv"

In [2]:
#THIS IS WITH 2018 CSV FILE ONLY - ALL THREE YEARS MUST BE JOINED WITH SQL IN DB

# Read the intake data and store into a Pandas DataFrame
dataset_one_df = pd.read_csv(dataset_one_to_load)

In [3]:
dataset_one_df.head()

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,Cat,Domestic Shorthair,Mix,NaN,F,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,Dog,Basset Hound,Mix,NaN,M,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
# dataset_second_df.dtypes

In [5]:
#Change postal codes from float64 to string

dataset_one_df['Found Zip Code'] = dataset_one_df['Found Zip Code'].map('{:.0f}'.format)
dataset_one_df['Out Postal Code'] = dataset_one_df['Out Postal Code'].map('{:.0f}'.format)

In [6]:
#Encode columns for gender and altered with sklearn labelencoder

#le = LabelEncoder()
df = dataset_one_df.copy()
#df['Altered'] = le.fit_transform(df['Altered'])

In [7]:
#df['Gender'] = le.fit_transform(df['Gender'])

In [8]:
#df['Species'] = le.fit_transform(df['Species'])

In [9]:
# Drop non-beneficial columns

df = df.drop(columns=['Animal Name','Distinguishing Markings', "ARN", "Danger", "Danger Reason", "Date Of Birth", "Intake Asilomar Status"])

In [10]:
df = df.drop(columns=['Intake Record Owner', 'Agency Member', 'Agency Member Phone', 'Agency Address', 'Intake Person ID Type', 'Intake Person #'])

In [11]:
df = df.drop(columns=['Admitter', 'Street Address', 'Unit Number', 'City', 'Province', 'Postal Code', "Admitter's Email", "Admitter's Home Phone", "Admitter's Cell Phone", 'Initial Stage'])

In [12]:
df = df.drop(columns=['Microchip Issue Date', 'Microchip Provider', 'Microchip Number', 'Pet ID', 'Pet ID Type', 'Status'])

In [13]:
df = df.drop(columns=['Stage', 'Location', 'Sublocation', 'Outcome Asilomar Status', 'Outcome Number', 'Released By', 'Date Created', 'Outcome SiteName', 'Jurisdiction Out', 'Outcome Person ID'])

In [14]:
df = df.drop(columns=['Outcome Person ID Type', 'Outcome Person #', 'Outcome Person Name', 'Out Unit Number', 'Out Email',  'Age in Months Current'])

In [15]:
df = df.drop(columns=['Animal Type','Out Home Phone', 'Out Cell Phone', 'Agency Unit Number', 'Agency City', 'Agency Province', 'Agency Postal Code', 'Agency Email', 'Agency Home Phone', 'RN', 'Intake SiteName', 'Jurisdiction In', 'Agency Street Address', 'Agency Cell Number', 'Intake Person ID', 'Initial Review Date'])

In [16]:
# Pie charts? Bar charts by years? show percentage of Strays turned in by ACO/Police, Public, Born in HSWC
# Show percent strays altered/adopted/euthanized
# Show percent of surgeries that are in clinic vs. resident population
# Show percent Owner Surrender adopted/transferred out/euthanized

in_out_counts_df = df.groupby(['Intake Type',  'Intake Subtype','Outcome Type', 'Outcome Subtype']).size().reset_index(name='counts')
in_out_counts_df.head()

,Intake Type,Intake Subtype,Outcome Type,Outcome Subtype,counts
0,Clinic,Microchip,Clinic Out,Microchip,2
1,Clinic,Neuter,Clinic Out,Other,14
2,Clinic,Spay,Clinic Out,Other,13
3,Clinic,Vaccinations,Clinic Out,Vaccinations,4
4,Owner/Guardian Surrender,Born in Care,Transfer Out,For Adoption,2

In [17]:
# this is just a list of partner agencies, most of which accept "Transfer Out/For Adoption" animals, won't use in
# names in statistical analysis, but % of Transfers would be helpful and whether or not spayed/neutered before Xfer

df.rename(columns = {"Outcome Agency Name": "Outcome_Agency_Name"}, inplace=True)
df.Outcome_Agency_Name.unique()

array([nan, 'Orphan Animal Rescue - OARS',
       'Langlade County Humane Society, Inc.',
       'K & R Small Animal Sanctuary', 'Wisconsin Boston Terrier Rescue',
       'Great Dane Rescue of Minnesota and Wisconsin',
       'Safe Haven Pet Sanctuary Inc (Cafe)', "Chrissy's K9 Kastle",
       'Bichon and Little Buddies Rescue', 'Green Bay Animal Rescue',
       'Neenah Animal Shelter', 'Green Lake Area Animal Shelter, LTD',
       'Humane Society of Sheboygan County',
       'Unforgettable Underdogs Dog Rescue',
       'Portage County Humane Society', 'Oshkosh Area Humane Society'],
      dtype=object)

In [18]:
# create separate dataframes for found address and adopted address, process these dataframes separately from df
# remove nans before converting to lat/long (not important to keep index of df)

found_address = df[['Found Address', 'Found Zip Code']]
found_address_df = pd.DataFrame(found_address)
found_address_df

                                     Found Address Found Zip Code
0                                              NaN          54961
1                                              NaN          54983
2                                              NaN          54456
3                                              NaN          54456
4                                 412 Wisconsin St          54981
5                               Granite & North St          54981
6                                     Born at HSWC          54981
7                                     Born at HSWC          54981
8                                     Born at HSWC          54981
9                                     Born at HSWC          54981
10                                    Born at HSWC          54981
11                                1222 E. Clark st          54981
12                                             NaN          54456
13                                             NaN          54456
14                                      South Park          54981
15                                             NaN          54977
16                                             NaN          54981
17                                      Granit St.          54981
18                          Brainerd's Bridge Park          54981
19                                             NaN          54981
20                                             NaN          54949
21                                             NaN          54949
22                                         Main St          54981
23                                             NaN          54456
24                                             NaN          54456
25                                             NaN          54456
26                                             NaN          54456
27                                             NaN          54456
28                                             NaN          54981
29                                             NaN          54481
30                                             NaN          54481
31                          Hwy E by Casey Lake Rd          54962
32                                             NaN          54983
33                                             NaN          54961
34                                             NaN          54961
35                                 106 W Sumner St          54981
36                                             NaN          54981
37                                    429 North St          54981
38                                    515 River St          54981
39                                    515 River St          54981
40                                    515 River St          54981
41                                    515 River St          54981
42                                             NaN          54456
43                                             NaN          54456
44                                             NaN          54456
45                                             NaN          54456
46                                             NaN          54984
47                                             NaN          54456
48                                    515 River St          54981
49                                             NaN          54981
50                                             NaN          54981
51                                             NaN          54981
52                                             NaN          54981
53                                             NaN          54981
54                                             NaN          54982
55                             1559 Appletree Lane          54981
56                                    Mom is C8555          54981
57                                    Mom is C8555          54981
58                                    Mom is C8555          54981
59                                    Mom is C8555          54981
60                                             NaN          54981
61                          700 Block of Larsin St          54981
62                                       Cooper St          54981
63                              205 E South Street          54981
64                                             NaN          54983
65                                             NaN          54456
66                                             NaN          54456
67                                             NaN          54456
68                                             NaN          54456
69                                             NaN          54981
70                                             NaN          54467
71                                             NaN          54949
72                                             NaN          54949
73                                             NaN          54945
74                                             NaN          54949
75                                             NaN          54984
76                                             NaN          54981
77                                             NaN          54981
78                 Hwy E by Oak Manor Trailer Park          54981
79                                             NaN          54456
80                                             NaN          54456
81                                             NaN          54456
82                                             NaN          54456
83                                             NaN          54456
84                                             NaN          54456
85                                             NaN          54456
86                                      304 Oak St          54981
87                            Pizza Hut, W. Fulton          54981
88                                 314 S Morton St          54981
89                                             NaN          54961
90                                         Mill St          54981
91                                             NaN          54456
92                                             NaN          54456
93                                             NaN          54456
94                                             NaN          54456
95                                             NaN          54456
96                                             NaN          54456
97                                             NaN          54456
98                                             NaN          54456
99                                             NaN          54456
100                        Pick n Save Parking lot          54981
101                                314 S Morton St          54981
102                                            NaN          54981
103                                600 Oak St #234          54981
104                                 855 Smith St E          54981
105                                            NaN          54467
106                                            NaN          54981
107                                 102 s oborn st          54981
108                                            NaN          54962
109                                            NaN          54962
110                                            NaN          54962
111                                            NaN          54962
112                                            NaN          54962
113                                            NaN          54962
114                                            NaN          54456
115                                            NaN          54456
116                                            NaN          54456
117                                            NaN          54981
118                                            NaN          54456
119                                            NaN          54456
120                                            NaN          54456
121                                            NaN          54456
122                                            NaN          54456
123                                            NaN          54456
124                                            NaN          54456
125                                            NaN          54981
126                                            NaN          54981
127                                            NaN          54981
128                                            NaN          54961
129                                            NaN          54961
130                                607 E Fulton St          54981
131                                            NaN            nan
132                                Woodland Circle          54981
133                                Woodland Circle          54981
134                                       Torborgs          54981
135                                            NaN          54456
136                                            NaN          54456
137                                            NaN          54945
138                                            NaN          54406
139                                            NaN          54981
140                                            NaN          54981
141                                            NaN          54915
142                                            NaN          54961
143             Mobil Truck Stop 1222 W. Fulton St          54981
144                                            NaN          54981
145                                            NaN          54981
146                                            NaN          54981
147                                            NaN          54981
148                                            NaN          54981
149                                            NaN          54929
150                                            NaN          54981
151                                            NaN          54981
152                                            NaN          54981
153                                            NaN          54945
154                                            NaN          54981
155                                            NaN          54961
156                                            NaN          54467
157                                            NaN          43081
158                                            NaN          54911
159                                            NaN          54981
160                                            NaN          54983
161                                            NaN          54303
162                                            NaN          54949
163                                        High St          54983
164                                            NaN          54981
165                                            NaN          54401
166                                            NaN          54956
167                                            NaN          54981
168                                            NaN          54981
169                                            NaN          54981
170                           HWY 10 by Truck Stop          54981
171                                            NaN          54977
172                                            NaN          54456
173                                            NaN          54456
174                                            NaN          54456
175                                            NaN          54456
176                                            NaN          54456
177                                            NaN          54456
178                                            NaN          54456
179                                            NaN          54456
180                                            NaN          54949
181                                            NaN          54962
182                                      Westly st          54981
183                                      Westly st          54981
184                                      Westly st          54981
185                                            NaN          54456
186                                            NaN          54456
187                                            NaN          54456
188                                            NaN          54456
189                                            NaN          54456
190                                            NaN          54456
191                                            NaN          54456
192                                            NaN          54956
193                                            NaN          54456
194                                            NaN          54983
195                                            NaN          54983
196                                            NaN          54945
197                                            NaN          54945
198                                            NaN          60563
199                                            NaN          54456
200                                            NaN          54456
201                                            NaN          54456
202                                            NaN          54456
203                                            NaN          54456
204                                            NaN          54456
205                                            NaN          54456
206                                            NaN          54456
207                                            NaN          54456
208                                            NaN          54456
209                                            NaN          54456
210                                            NaN          54456
211                                            NaN          54456
212                                            NaN          54456
213                                            NaN          54456
214                                            NaN          54456
215                                            NaN          54456
216                                  S Western Ave          54981
217                                            NaN          54456
218                                            NaN          54456
219                                            NaN          54456
220                                            NaN          54456
221                                            NaN          54456
222                                            NaN          54456
223                                            NaN          54456
224                                            NaN          54456
225                          Hwy 22 and Maynard Rd          54981
226                                            NaN          54981
227           2293 Commercial Dr  Side of building          54981
228                                            NaN          54949
229                               406 W. Parker St          54981
230                                            NaN          54981
231                                            NaN          54456
232                                            NaN          54407
233                                            NaN          54456
234                                            NaN          54456
235                                   406 w parker          54983
236                                            NaN            nan
237                                            NaN            nan
238                                            NaN            nan
239                                            NaN            nan
240                                            NaN            nan
241                   317 N Washington St (garage)          54981
242                                            NaN          54456
243                                            NaN          54456
244                                            NaN          54984
245                            314 S Washington St          54981
246                                            NaN          54456
247                                            NaN          54456
248                                            NaN          54456
249                                            NaN          54456
250                                            NaN          54456
251                                            NaN          54456
252                                            NaN          54456
253                                            NaN          54456
254                                            NaN          54456
255                               902 Riverside Dr            nan
256                                            NaN          54456
257                                            NaN          54456
258                                            NaN          54456
259                                            NaN          54981
260                                            NaN          54456
261                                            NaN          54456
262                                            NaN          54456
263                                            NaN          54456
264                                            NaN          54456
265                                            NaN          54456
266                                            NaN          54456
267                                            NaN          54456
268                                   510 North St          54981
269                                            NaN          54456
270                                            NaN          54456
271                                            NaN          54456
272                                            NaN          54456
273                                            NaN          54456
274                                            NaN          54456
275                                            NaN          54456
276                                            NaN          54456
277                                            NaN          54456
278                                            NaN          54456
279                                            NaN          54456
280                                            NaN          54456
281                                            NaN          54456
282                                            NaN          54456
283                                            NaN          54456
284                                            NaN          54983
285                Alfred St, trailer park, lot 30          54983
286                Alfred St, trailer park, lot 30          54983
287                                   510 North St          54981
288                                            NaN          54977
289                                            NaN          54977
290                                            NaN          54981
291                           Park Ave by Hospital          54981
292                                            NaN          54456
293                                            NaN          54456
294                                            NaN          54456
295                                            NaN          54456
296                                            NaN          54456
297                                            NaN          54456
298        Rec Center - brought in by street supt.          54981
299                                            NaN          54982
300                                            NaN          54982
301                                            NaN          54982

In [19]:
# separate adopted address dataframe
#adopted_address = df[['Out Street Address','Out City','Out Province','Out Postal Code']]
#adopted_address_df = pd.DataFrame(adopted_address)
#adopted_address_df

In [20]:
# remove Nans from addresses dfs, see how many rows are left

found_address_df = found_address_df.dropna()
#adopted_address_df = adopted_address_df.dropna()

found_address_df

                                     Found Address Found Zip Code
4                                 412 Wisconsin St          54981
5                               Granite & North St          54981
6                                     Born at HSWC          54981
7                                     Born at HSWC          54981
8                                     Born at HSWC          54981
9                                     Born at HSWC          54981
10                                    Born at HSWC          54981
11                                1222 E. Clark st          54981
14                                      South Park          54981
17                                      Granit St.          54981
18                          Brainerd's Bridge Park          54981
22                                         Main St          54981
31                          Hwy E by Casey Lake Rd          54962
35                                 106 W Sumner St          54981
37                                    429 North St          54981
38                                    515 River St          54981
39                                    515 River St          54981
40                                    515 River St          54981
41                                    515 River St          54981
48                                    515 River St          54981
55                             1559 Appletree Lane          54981
56                                    Mom is C8555          54981
57                                    Mom is C8555          54981
58                                    Mom is C8555          54981
59                                    Mom is C8555          54981
61                          700 Block of Larsin St          54981
62                                       Cooper St          54981
63                              205 E South Street          54981
78                 Hwy E by Oak Manor Trailer Park          54981
86                                      304 Oak St          54981
87                            Pizza Hut, W. Fulton          54981
88                                 314 S Morton St          54981
90                                         Mill St          54981
100                        Pick n Save Parking lot          54981
101                                314 S Morton St          54981
103                                600 Oak St #234          54981
104                                 855 Smith St E          54981
107                                 102 s oborn st          54981
130                                607 E Fulton St          54981
132                                Woodland Circle          54981
133                                Woodland Circle          54981
134                                       Torborgs          54981
143             Mobil Truck Stop 1222 W. Fulton St          54981
163                                        High St          54983
170                           HWY 10 by Truck Stop          54981
182                                      Westly st          54981
183                                      Westly st          54981
184                                      Westly st          54981
216                                  S Western Ave          54981
225                          Hwy 22 and Maynard Rd          54981
227           2293 Commercial Dr  Side of building          54981
229                               406 W. Parker St          54981
235                                   406 w parker          54983
241                   317 N Washington St (garage)          54981
245                            314 S Washington St          54981
255                               902 Riverside Dr            nan
268                                   510 North St          54981
285                Alfred St, trailer park, lot 30          54983
286                Alfred St, trailer park, lot 30          54983
287                                   510 North St          54981
291                           Park Ave by Hospital          54981
298        Rec Center - brought in by street supt.          54981
303                                     322 Oak St          54981
304                      S. Main St and Randall St          54981
312                                     South Park          54981
313                        Shadow Rd, Town of Lind          54981
314                               120 N Morton St.          54981
329                   601 Lakeside Pkwy (dog park)          54981
332                                300 E Alfred St          54983
333                                    801 Hill St          54981
334                            304 1/2  Waupaca St          54981
335  1045 Covered Bridge Rd. Apt 5 (Sally Loecher)          54981
337                                  E. Sumner St.          54983
338                    300 block of West Fulton St          54981
341                                     South Park          54981
354                             205 E South Street          54983
355                             205 E South Street          54981
356                                           Wega          54983
364                                925 Meade Drive          54981
365                                925 Meade Drive          54981
366                                   925 Meade Dr          54981
367                                    925 Mead Dr          54981
371                         101 South State Street          54981
372       921 S. Main St - South Park Boat Landing          54981
373       921 S. Main St - South Park Boat Landing          54981
378                                 358 Granite St          54981
380                               510 North Street          54981
383                                  Wega Drive In          54981
384                               108 E. Union St.          54981
385                                  127 E Main St          54981
386                                 411 W. High St          54983
387                                  128 E Main St          54981
388                              E1948 State Rd 54          54981
396                               431 1/2 W Fulton          54981
397                               431 1/2 W Fulton          54981
398                                106 Birdsall St          54983
399                                106 Birdsall St          54983
400                                106 Birdsall St          54983
403                                 S. Western Ave          54981
404                     IGA parking lot 108 Ann St          54983
406                               315 Wisconsin St          54981
407                                 West Fulton St          54981
410                                     404 5th st          54981
414                             300 block North St          54981
416             608 Lakeside Dr (Recycling Center)          54981
420                                    310 2nd ave          54981
421                             600 Oak St lot 241          54981
428                      1040 Covered Bridge Rd #3          54981
446                                  607 Berlin St          54981
458                                     S. Main St          54981
485                                    Tower Mobil          54945
486      states was in box in Goodwill parking lot          53048
487      states was in box in Goodwill parking lot          53048
488      states was in box in Goodwill parking lot          53048
501                                     322 Oak St          54981
505             608 Lakeside Dr (Recycling Center)          54981
506             608 Lakeside Dr (Recycling Center)          54981
507                 corner of Van and Ware Streets          54981
509                              Taco Bell Waupaca          54962
518                                    119 Pine St          54981
525                                 404 6th Street          54981
531                                 Jrs Sports Bar          54981
532                                         Oak St          54981
543                                    119 Pine St          54981

In [21]:
found_counts_df = found_address_df.groupby(['Found Address']).size().reset_index(name='counts')
found_counts_df

                                    Found Address  counts
0                          101 South State Street       1
1                                  102 s oborn st       1
2                       1040 Covered Bridge Rd #3       1
3   1045 Covered Bridge Rd. Apt 5 (Sally Loecher)       1
4                                 106 Birdsall St       3
5                                 106 W Sumner St       1
6                                108 E. Union St.       1
7                                     119 Pine St       2
8                                120 N Morton St.       1
9                                1222 E. Clark st       1
10                                  127 E Main St       1
11                                  128 E Main St       1
12                            1559 Appletree Lane       1
13                             205 E South Street       3
14           2293 Commercial Dr  Side of building       1
15                                300 E Alfred St       1
16                             300 block North St       1
17                    300 block of West Fulton St       1
18                            304 1/2  Waupaca St       1
19                                     304 Oak St       1
20                                    310 2nd ave       1
21                                314 S Morton St       2
22                            314 S Washington St       1
23                               315 Wisconsin St       1
24                   317 N Washington St (garage)       1
25                                     322 Oak St       2
26                                 358 Granite St       1
27                                     404 5th st       1
28                                 404 6th Street       1
29                               406 W. Parker St       1
30                                   406 w parker       1
31                                 411 W. High St       1
32                               412 Wisconsin St       1
33                                   429 North St       1
34                               431 1/2 W Fulton       2
35                                   510 North St       2
36                               510 North Street       1
37                                   515 River St       5
38                                600 Oak St #234       1
39                             600 Oak St lot 241       1
40                   601 Lakeside Pkwy (dog park)       1
41                                  607 Berlin St       1
42                                607 E Fulton St       1
43             608 Lakeside Dr (Recycling Center)       3
44                         700 Block of Larsin St       1
45                                    801 Hill St       1
46                                 855 Smith St E       1
47                               902 Riverside Dr       1
48       921 S. Main St - South Park Boat Landing       2
49                                    925 Mead Dr       1
50                                   925 Meade Dr       1
51                                925 Meade Drive       2
52                Alfred St, trailer park, lot 30       2
53                                   Born at HSWC       5
54                         Brainerd's Bridge Park       1
55                                      Cooper St       1
56                                  E. Sumner St.       1
57                              E1948 State Rd 54       1
58                                     Granit St.       1
59                             Granite & North St       1
60                           HWY 10 by Truck Stop       1
61                                        High St       1
62                          Hwy 22 and Maynard Rd       1
63                         Hwy E by Casey Lake Rd       1
64                Hwy E by Oak Manor Trailer Park       1
65                     IGA parking lot 108 Ann St       1
66                                 Jrs Sports Bar       1
67                                        Main St       1
68                                        Mill St       1
69             Mobil Truck Stop 1222 W. Fulton St       1
70                                   Mom is C8555       4
71                                         Oak St       1
72                           Park Ave by Hospital       1
73                        Pick n Save Parking lot       1
74                           Pizza Hut, W. Fulton       1
75        Rec Center - brought in by street supt.       1
76                                  S Western Ave       1
77                                     S. Main St       1
78                      S. Main St and Randall St       1
79                                 S. Western Ave       1
80                        Shadow Rd, Town of Lind       1
81                                     South Park       3
82                              Taco Bell Waupaca       1
83                                       Torborgs       1
84                                    Tower Mobil       1
85                                           Wega       1
86                                  Wega Drive In       1
87                                 West Fulton St       1
88                                      Westly st       3
89                                Woodland Circle       2
90                 corner of Van and Ware Streets       1
91      states was in box in Goodwill parking lot       3

In [22]:
# these are the datapoints that will be mapped to show where adopters are located, columns need to be concat to
#run in geolocater to get lat/long

#adopted_address_df

In [23]:
# drop individual address columns from original df

df = df.drop(columns=['Found Address', 'Found Zip Code', 'Out Street Address', 'Out City', 'Out Province', 'Out Postal Code'])

In [24]:
# 19 (of 87) columns remain in original df
# check list of columns to see what remains
my_list = df.columns.values.tolist()
my_list

['Animal #',
 'Species',
 'Primary Breed',
 'Secondary Breed',
 'Gender',
 'Altered',
 'Age in Months Intake',
 'Age Group',
 'Intake Condition',
 'Intake Date',
 'Intake Type',
 'Intake Subtype',
 'Reason',
 'Agency Name',
 'Outcome Date',
 'Release Date',
 'Outcome Type',
 'Outcome Subtype',
 'Outcome Reason',
 'Outcome_Agency_Name']

In [25]:
df.describe()

       Age in Months Intake
count            504.000000
mean              17.944444
std               34.178413
min                0.000000
25%                1.000000
50%                2.000000
75%               18.000000
max              204.000000

In [26]:
#Rename column headers

#found_address_df.rename(columns = {"Found Address": "Found_Address"}, inplace=True)
#found_address_df.rename(columns = {"Found Zip Code": "Found_Zip_Code"}, inplace=True)

In [27]:
# Remove non-address addresses, such as unknown, HSWC, in found_address

#found_address_df = found_address_df[found_address_df.Found_Address != "left in alcove at shelter"]
#found_address_df = found_address_df[found_address_df.Found_Address != "left in alcove at shelter"]
#found_address_df = found_address_df[found_address_df.Found_Address != " in a box marked free"]
#found_address_df = found_address_df[found_address_df["Found_Address"].str.contains("Owner arrested, cat taken for safe keeping 	")==False]
#found_address_df

In [28]:
# Using separate cleaned address dataframes, concat separate address columns into one for lat/long conversion

#found_address_df["clean_found_address"] = found_address_df['Found_Address'].map(str) + '  ' + found_address_df['Found_Zip_Code'].map(str)
#found_address_df

In [29]:
#adopted_address_df['clean_adopted_address'] = adopted_address_df['Out Street Address'].map(str) + ', ' + adopted_address_df['Out City'].map(str) + ', ' + adopted_address_df['Out Province'].map(str) + ', ' + adopted_address_df['Out Postal Code'].map(str)
#adopted_address_df

In [30]:
#this may be used on separate addresses dataframes
#EXAMPLE INPUT ADDRESS/OUTPUT using Nominatim

#geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")
#location = geolocator.geocode('4550 Kester Mill Rd,Winston-Salem,NC')
#print(location)
#print((location.latitude, location.longitude))

In [31]:
#use GeoPy/Nominatim to convert Found_Address and Adopter_Address to lat/long
# add columns to store lat/long 

#found_address_df['found_geocode'] = found_address_df.clean_found_address.apply(geolocator.geocode)
#adopted_address_df['adopted_geocode']= adopted_address_df.clean_adopted_address.apply(geolocator.geocode)

In [32]:
#found_address_df

In [33]:
#adopted_address_df

In [34]:
# found_address_df.dtypes

## Address conversion to lat/long - removal of Nones

In [35]:
# obtain lat/long for each address

#found_address_df['found_lat'] = [g.latitude if g is not None else 0 for g in found_address_df.found_geocode]
#found_address_df['found_long'] = [g.longitude if g is not None else 0 for g in found_address_df.found_geocode]

In [36]:
#found_address_df.head()

In [37]:
#adopted_address_df['adopted_lat'] = [g.latitude if g is not None else 0 for g in adopted_address_df.adopted_geocode]
#adopted_address_df['adopted_long'] = [g.longitude if g is not None else 0 for g in adopted_address_df.adopted_geocode]

In [38]:
#adopted_address_df.head()

In [39]:
df.head()

,Animal #,Species,Primary Breed,Secondary Breed,Gender,Altered,Age in Months Intake,Age Group,Intake Condition,Intake Date,Intake Type,Intake Subtype,Reason,Agency Name,Outcome Date,Release Date,Outcome Type,Outcome Subtype,Outcome Reason,Outcome_Agency_Name
0,A38478589,Cat,Domestic Shorthair,Mix,F,Yes,24.0,Adult,Normal,5/4/2018 4:44 PM,Owner/Guardian Surrender,For Adoption,Too Many Pets,NaN,8/8/2018 2:02 PM,8/8/2018 2:02 PM,Adoption,Adoption Center,NaN,NaN
1,A38485565,Cat,Domestic Shorthair,Mix,F,No,24.0,Adult,Normal,5/5/2018 5:32 PM,Owner/Guardian Surrender,For Adoption,Time - Not Enough,NaN,5/22/2018 2:21 PM,NaN,Euthanasia,Temperment,NaN,NaN
2,A38485698,Dog,American Blue Heeler,Mix,M,Yes,1.0,Baby,Injured,5/5/2018 6:06 PM,Owner/Guardian Surrender,For Adoption,Other,NaN,6/8/2018 1:28 PM,6/8/2018 1:28 PM,Adoption,Adoption Center,NaN,NaN
3,A38485738,Dog,American Blue Heeler,Mix,M,Yes,1.0,Baby,Normal,5/5/2018 6:17 PM,Owner/Guardian Surrender,For Adoption,Other,NaN,6/4/2018 12:47 PM,6/4/2018 12:47 PM,Adoption,Adoption Center,NaN,NaN
4,A38548723,Dog,Basset Hound,Mix,M,No,NaN,Adult,Normal,5/12/2018 5:47 PM,Stray,ACO / Police Drop Off,NaN,NaN,5/14/2018 1:15 PM,5/14/2018 1:15 PM,Return to Owner/Guardian,Stray Reclaim,NaN,NaN

In [40]:
#save cleaned df to csv
# save addresses dfs to separate csv files

df.to_csv('one_clean_intake.csv', index=False)

In [41]:
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/HSWC_database"
#engine = create_engine(db_string)

In [42]:
#df.to_sql(name='Intake_Demo_Table', con=engine, if_exists='replace')