In [1]:
import pandas as pd
import csv
import re
from sklearn.preprocessing import LabelEncoder
from sqlalchemy import create_engine
from config import db_password
from geopy.geocoders import Nominatim

# File to Load
dataset_one_to_load = "Resources/AnimalIntakeWithResultsExtended2018.csv"

In [2]:
# Read the School Data and Student Data and store into a Pandas DataFrame
dataset_one_df = pd.read_csv(dataset_one_to_load)

In [3]:
dataset_one_df.head()

,Animal #,ARN,Animal Name,Animal Type,Species,Primary Breed,Secondary Breed,Distinguishing Markings,Gender,Altered,...,Outcome Agency Name,Agency Street Address,Agency Unit Number,Agency City,Agency Province,Agency Postal Code,Agency Email,Agency Home Phone,Agency Cell Number,RN
0,A38478589,c8548,Raven,Cat,Cat,Domestic Shorthair,Mix,NaN,F,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A38485565,C8549,Cleo,Cat,Cat,Domestic Shorthair,Mix,NaN,F,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,A38485698,D2207,Ollie,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,A38485738,D2208,Ernest,Dog,Dog,American Blue Heeler,Mix,NaN,M,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,A38548723,D2209,Bentley,Dog,Dog,Basset Hound,Mix,NaN,M,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
dataset_one_df.dtypes

Animal #               object
ARN                    object
Animal Name            object
Animal Type            object
Species                object
                       ...
Agency Postal Code    float64
Agency Email           object
Agency Home Phone     float64
Agency Cell Number    float64
RN                      int64
Length: 87, dtype: object

In [5]:
#Change postal codes from float64 to string

dataset_one_df['Found Zip Code'] = dataset_one_df['Found Zip Code'].map('{:.0f}'.format)
dataset_one_df['Out Postal Code'] = dataset_one_df['Out Postal Code'].map('{:.0f}'.format)

In [6]:
#Encode columns for gender and altered with sklearn labelencoder

le = LabelEncoder()
df = dataset_one_df.copy()
df['Altered'] = le.fit_transform(df['Altered'])

In [7]:
df['Gender'] = le.fit_transform(df['Gender'])

In [8]:
df['Species'] = le.fit_transform(df['Species'])

In [9]:
# Drop non-beneficial columns

df = df.drop(columns=['ARN','Animal Name','Distinguishing Markings', "Animal #", "Danger", "Danger Reason", "Date Of Birth", "Intake Asilomar Status"])

In [10]:
df = df.drop(columns=['Intake Record Owner', 'Agency Member', 'Agency Member Phone', 'Agency Address', 'Intake Person ID Type', 'Intake Person #'])

In [11]:
df = df.drop(columns=['Admitter', 'Street Address', 'Unit Number', 'City', 'Province', 'Postal Code', "Admitter's Email", "Admitter's Home Phone", "Admitter's Cell Phone", 'Initial Stage'])

In [12]:
df = df.drop(columns=['Microchip Issue Date', 'Microchip Provider', 'Microchip Number', 'Pet ID', 'Pet ID Type', 'Status'])

In [13]:
df = df.drop(columns=['Stage', 'Location', 'Sublocation', 'Outcome Asilomar Status', 'Outcome Number', 'Released By', 'Date Created', 'Outcome SiteName', 'Jurisdiction Out', 'Outcome Person ID'])

In [14]:
df = df.drop(columns=['Outcome Person ID Type', 'Outcome Person #', 'Outcome Person Name', 'Out Unit Number', 'Out Email',  'Age in Months Current'])

In [15]:
df = df.drop(columns=['Animal Type','Out Home Phone', 'Out Cell Phone', 'Agency Unit Number', 'Agency City', 'Agency Province', 'Agency Postal Code', 'Agency Email', 'Agency Home Phone', 'RN', 'Intake SiteName', 'Jurisdiction In', 'Agency Street Address', 'Agency Cell Number', 'Intake Person ID', 'Initial Review Date'])

In [16]:
# check list of columns to see what remains
my_list = df.columns.values.tolist()
my_list

['Species',
 'Primary Breed',
 'Secondary Breed',
 'Gender',
 'Altered',
 'Age in Months Intake',
 'Age Group',
 'Intake Condition',
 'Intake Date',
 'Intake Type',
 'Intake Subtype',
 'Found Address',
 'Found Zip Code',
 'Reason',
 'Agency Name',
 'Outcome Date',
 'Release Date',
 'Outcome Type',
 'Outcome Subtype',
 'Outcome Reason',
 'Out Street Address',
 'Out City',
 'Out Province',
 'Out Postal Code',
 'Outcome Agency Name']

In [17]:
# this is just a list of partner agencies, most of which accept "Transfer Out/For Adoption" animals, won't use in
# names in statistical analysis, but % of Transfers would be helpful

df.rename(columns = {"Outcome Agency Name": "Outcome_Agency_Name"}, inplace=True)
df.Outcome_Agency_Name.unique()

array([nan, 'Orphan Animal Rescue - OARS',
       'Langlade County Humane Society, Inc.',
       'K & R Small Animal Sanctuary', 'Wisconsin Boston Terrier Rescue',
       'Great Dane Rescue of Minnesota and Wisconsin',
       'Safe Haven Pet Sanctuary Inc (Cafe)', "Chrissy's K9 Kastle",
       'Bichon and Little Buddies Rescue', 'Green Bay Animal Rescue',
       'Neenah Animal Shelter', 'Green Lake Area Animal Shelter, LTD',
       'Humane Society of Sheboygan County',
       'Unforgettable Underdogs Dog Rescue',
       'Portage County Humane Society', 'Oshkosh Area Humane Society'],
      dtype=object)

In [18]:
# create separate dataframes for found address and adopted address, process these dataframes separately from df
# remove nans before converting to lat/long (not important to keep index of df)

found_address = df[['Found Address', 'Found Zip Code']]
found_address_df = pd.DataFrame(found_address)
found_address_df

        Found Address Found Zip Code
0                 NaN          54961
1                 NaN          54983
2                 NaN          54456
3                 NaN          54456
4    412 Wisconsin St          54981
..                ...            ...
569               NaN          54981
570               NaN          54981
571               NaN          54961
572               NaN          54961
573               NaN          54961

[574 rows x 2 columns]

In [19]:
# separate adopted address dataframe
adopted_address = df[['Out Street Address','Out City','Out Province','Out Postal Code',]]
adopted_address_df = pd.DataFrame(adopted_address)
adopted_address_df

             Out Street Address       Out City Out Province Out Postal Code
0        N3762 Maple Grove Road      Weyauwega           WI           54983
1                           NaN            NaN          NaN             nan
2    S2888 Waumandee Creek Road  Fountain City           WI           54629
3             E3499 Tanner Road     Ogdensburg           WI           54962
4              409 Scott Street        Waupaca           WI           54981
..                          ...            ...          ...             ...
569        312 S Western Avenue        Waupaca           WI           54981
570        312 S Western Avenue        Waupaca           WI           54981
571    E9625 Hickory Ridge Lane     New London           WI           54961
572    E9625 Hickory Ridge Lane     New London           WI           54961
573    E9625 Hickory Ridge Lane     New London           WI           54961

[574 rows x 4 columns]

In [20]:
# remove Nans from addresses dfs, see how many rows are left

found_address_df = found_address_df.dropna()
adopted_address_df = adopted_address_df.dropna()

# Born at HSWC will be filtered out, remaining address columns will be concat for geolocater lat/long conversion
found_address_df

          Found Address Found Zip Code
4      412 Wisconsin St          54981
5    Granite & North St          54981
6          Born at HSWC          54981
7          Born at HSWC          54981
8          Born at HSWC          54981
..                  ...            ...
518         119 Pine St          54981
525      404 6th Street          54981
531      Jrs Sports Bar          54981
532              Oak St          54981
543         119 Pine St          54981

[124 rows x 2 columns]

In [21]:
# these are the datapoints that will be mapped to show where adopters are located, columns need to be concat to
#run in geolocater to get lat/long

adopted_address_df

             Out Street Address       Out City Out Province Out Postal Code
0        N3762 Maple Grove Road      Weyauwega           WI           54983
2    S2888 Waumandee Creek Road  Fountain City           WI           54629
3             E3499 Tanner Road     Ogdensburg           WI           54962
4              409 Scott Street        Waupaca           WI           54981
5              404 Scott Street        Waupaca           WI           54981
..                          ...            ...          ...             ...
569        312 S Western Avenue        Waupaca           WI           54981
570        312 S Western Avenue        Waupaca           WI           54981
571    E9625 Hickory Ridge Lane     New London           WI           54961
572    E9625 Hickory Ridge Lane     New London           WI           54961
573    E9625 Hickory Ridge Lane     New London           WI           54961

[470 rows x 4 columns]

In [22]:
# drop individual address columns from df

df = df.drop(columns=['Found Address', 'Found Zip Code', 'Out Street Address', 'Out City', 'Out Province', 'Out Postal Code'])

In [23]:
# 19 columns remain
my_list

['Species',
 'Primary Breed',
 'Secondary Breed',
 'Gender',
 'Altered',
 'Age in Months Intake',
 'Age Group',
 'Intake Condition',
 'Intake Date',
 'Intake Type',
 'Intake Subtype',
 'Found Address',
 'Found Zip Code',
 'Reason',
 'Agency Name',
 'Outcome Date',
 'Release Date',
 'Outcome Type',
 'Outcome Subtype',
 'Outcome Reason',
 'Out Street Address',
 'Out City',
 'Out Province',
 'Out Postal Code',
 'Outcome Agency Name']

In [24]:
# Using separate cleaned address dataframes, concat separate address columns into one for lat/long conversion

found_address_df["clean_found_address"] = found_address_df['Found Address'].map(str) + '  ' + found_address_df['Found Zip Code'].map(str)
found_address_df

C:\Users\16084\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          Found Address Found Zip Code        clean_found_address
4      412 Wisconsin St          54981    412 Wisconsin St  54981
5    Granite & North St          54981  Granite & North St  54981
6          Born at HSWC          54981        Born at HSWC  54981
7          Born at HSWC          54981        Born at HSWC  54981
8          Born at HSWC          54981        Born at HSWC  54981
..                  ...            ...                        ...
518         119 Pine St          54981         119 Pine St  54981
525      404 6th Street          54981      404 6th Street  54981
531      Jrs Sports Bar          54981      Jrs Sports Bar  54981
532              Oak St          54981              Oak St  54981
543         119 Pine St          54981         119 Pine St  54981

[124 rows x 3 columns]

In [25]:
adopted_address_df['clean_adopted_address'] = adopted_address_df['Out Street Address'].map(str) + ', ' + adopted_address_df['Out City'].map(str) + ', ' + adopted_address_df['Out Province'].map(str) + ', ' + adopted_address_df['Out Postal Code'].map(str)
adopted_address_df

C:\Users\16084\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Out Street Address,Out City,Out Province,Out Postal Code,clean_adopted_address
0,N3762 Maple Grove Road,Weyauwega,WI,54983,"N3762 Maple Grove Road, Weyauwega, WI, 54983"
2,S2888 Waumandee Creek Road,Fountain City,WI,54629,"S2888 Waumandee Creek Road, Fountain City, WI,..."
3,E3499 Tanner Road,Ogdensburg,WI,54962,"E3499 Tanner Road, Ogdensburg, WI, 54962"
4,409 Scott Street,Waupaca,WI,54981,"409 Scott Street, Waupaca, WI, 54981"
5,404 Scott Street,Waupaca,WI,54981,"404 Scott Street, Waupaca, WI, 54981"
...,...,...,...,...,...
569,312 S Western Avenue,Waupaca,WI,54981,"312 S Western Avenue, Waupaca, WI, 54981"
570,312 S Western Avenue,Waupaca,WI,54981,"312 S Western Avenue, Waupaca, WI, 54981"
571,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961"
572,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961"
573,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961"

In [26]:
df.describe()

          Species      Gender     Altered  Age in Months Intake
count  574.000000  574.000000  574.000000            504.000000
mean     0.609756    0.540070    0.902439             17.944444
std      0.551984    0.516023    0.296979             34.178413
min      0.000000    0.000000    0.000000              0.000000
25%      0.000000    0.000000    1.000000              1.000000
50%      1.000000    1.000000    1.000000              2.000000
75%      1.000000    1.000000    1.000000             18.000000
max      3.000000    2.000000    1.000000            204.000000

In [37]:
#this may be used on separate addresses dataframes

geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")
location = geolocator.geocode('4550 Kester Mill Rd,Winston-Salem,NC')
print(location)
print((location.latitude, location.longitude))

Walmart Supercenter, 4550, Kester Mill Road, Winston-Salem, Forsyth County, North Carolina, 27103, United States
(36.06752315, -80.3372069310351)

In [28]:
#use GeoPy/Nominatim to convert Found_Address and Adopter_Address to lat/long
# add columns to store lat/long 

found_address_df['found_geocode'] = found_address_df.clean_found_address.apply(geolocator.geocode)
adopted_address_df['adopted_geocode']= adopted_address_df.clean_adopted_address.apply(geolocator.geocode)

C:\Users\16084\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\16084\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [33]:
found_address_df

,Found Address,Found Zip Code,clean_found_address,found_geocode
4,412 Wisconsin St,54981,412 Wisconsin St 54981,"(412, Wisconsin Street, Waupaca, Waupaca Count..."
5,Granite & North St,54981,Granite & North St 54981,"(Granite Street, Waupaca, Waupaca County, Wisc..."
6,Born at HSWC,54981,Born at HSWC 54981,None
7,Born at HSWC,54981,Born at HSWC 54981,None
8,Born at HSWC,54981,Born at HSWC 54981,None
...,...,...,...,...
518,119 Pine St,54981,119 Pine St 54981,"(119, Pine Street, Waupaca, Waupaca County, Wi..."
525,404 6th Street,54981,404 6th Street 54981,"(404, 6th Street, Waupaca, Waupaca County, Wis..."
531,Jrs Sports Bar,54981,Jrs Sports Bar 54981,None
532,Oak St,54981,Oak St 54981,"(Oak Street, Waupaca, Waupaca County, Wisconsi..."
543,119 Pine St,54981,119 Pine St 54981,"(119, Pine Street, Waupaca, Waupaca County, Wi..."

In [34]:
adopted_address_df

,Out Street Address,Out City,Out Province,Out Postal Code,clean_adopted_address,adopted_geocode
0,N3762 Maple Grove Road,Weyauwega,WI,54983,"N3762 Maple Grove Road, Weyauwega, WI, 54983",None
2,S2888 Waumandee Creek Road,Fountain City,WI,54629,"S2888 Waumandee Creek Road, Fountain City, WI,...",None
3,E3499 Tanner Road,Ogdensburg,WI,54962,"E3499 Tanner Road, Ogdensburg, WI, 54962",None
4,409 Scott Street,Waupaca,WI,54981,"409 Scott Street, Waupaca, WI, 54981","(409, Scott Street, Waupaca, Waupaca County, W..."
5,404 Scott Street,Waupaca,WI,54981,"404 Scott Street, Waupaca, WI, 54981","(404, Scott Street, Waupaca, Waupaca County, W..."
...,...,...,...,...,...,...
569,312 S Western Avenue,Waupaca,WI,54981,"312 S Western Avenue, Waupaca, WI, 54981","(312, South Western Avenue, Waupaca, Waupaca C..."
570,312 S Western Avenue,Waupaca,WI,54981,"312 S Western Avenue, Waupaca, WI, 54981","(312, South Western Avenue, Waupaca, Waupaca C..."
571,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961",None
572,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961",None
573,E9625 Hickory Ridge Lane,New London,WI,54961,"E9625 Hickory Ridge Lane, New London, WI, 54961",None

In [43]:
found_address_df.dtypes

Found Address          object
Found Zip Code         object
clean_found_address    object
found_geocode          object
dtype: object

In [45]:
# obtain lat/long for each address

found_address_df['found_lat'] = [g.latitude if g is not None else 0 for g in found_address_df.found_geocode]
#found_address_df['found_long'] = [g.longitude for g in found_address.df.found_geocode if g != NaN]
#adopted_address_df['adopted_lat'] = [g.latitude for g in adopted_address_df.adopter_geocode if g != NaN]
#adopted_address_df['adopted_long'] = [g.longitude for g in adopted_address_df.adopter_geocode if g != NaN]

C:\Users\16084\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
found_address_df

,Found Address,Found Zip Code,clean_found_address,found_geocode,found_lat
4,412 Wisconsin St,54981,412 Wisconsin St 54981,"(412, Wisconsin Street, Waupaca, Waupaca Count...",44.362289
5,Granite & North St,54981,Granite & North St 54981,"(Granite Street, Waupaca, Waupaca County, Wisc...",44.360147
6,Born at HSWC,54981,Born at HSWC 54981,None,0.000000
7,Born at HSWC,54981,Born at HSWC 54981,None,0.000000
8,Born at HSWC,54981,Born at HSWC 54981,None,0.000000
...,...,...,...,...,...
518,119 Pine St,54981,119 Pine St 54981,"(119, Pine Street, Waupaca, Waupaca County, Wi...",44.358272
525,404 6th Street,54981,404 6th Street 54981,"(404, 6th Street, Waupaca, Waupaca County, Wis...",44.353446
531,Jrs Sports Bar,54981,Jrs Sports Bar 54981,None,0.000000
532,Oak St,54981,Oak St 54981,"(Oak Street, Waupaca, Waupaca County, Wisconsi...",44.360021
543,119 Pine St,54981,119 Pine St 54981,"(119, Pine Street, Waupaca, Waupaca County, Wi...",44.358272

In [ ]:
#save cleaned df to csv
# save addresses dfs to separate csv files

df.to_csv('first_clean_intake.csv', index=False)

In [30]:
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/HSWC_database"
#engine = create_engine(db_string)

In [31]:
#df.to_sql(name='Intake_Demo_Table', con=engine, if_exists='replace')