In [1]:
import pandas as pd
import csv
from sklearn.preprocessing import LabelEncoder

In [2]:
# File to Load
medical_data_to_load = "Resources/medical_data.csv"

In [3]:
# Read the medical data and store into a Pandas DataFrame
medical_data_df = pd.read_csv(medical_data_to_load)

In [11]:
medical_data_df

,animal_type,record_no,status,date,record_type,record_sub_type
0,Cat,M44244776,Completed,23-Mar-18,Surgery,HSWC Spay Resident
1,Cat,M43625283,Completed,2-Feb-18,Surgery,HSWC Spay Resident
2,Cat,M43817874,Completed,30-Jan-18,Surgery,HSWC Spay Resident
3,Cat,M43511736,Completed,25-Jan-18,Surgery,HSWC Neut Resident
4,Cat,M44784946,Completed,3-May-18,Surgery,HSWC Spay Resident
...,...,...,...,...,...,...
1172,Dog,M59239439,Completed,11-Dec-20,Surgery,HSWC Spay Resident
1173,Dog,M59239440,Completed,11-Dec-20,Surgery,HSWC Spay Resident
1174,Dog,M59239441,Completed,11-Dec-20,Surgery,HSWC Spay Resident
1175,Rabbit,M55394138,Completed,31-Jan-20,Surgery,HSWC Spay Resident
1176,Rabbit,M55394109,Completed,31-Jan-20,Surgery,HSWC Neut Resident

## Animal type encoded:  cat=0, dog=1, rabbit=2

In [5]:
#encoding animal type column into new df, clean_medical_df 

le = LabelEncoder()

clean_medical_df = medical_data_df.copy()
clean_medical_df['animal_type'] = le.fit_transform(clean_medical_df['animal_type'])

In [6]:
# delete record_no and status, "record_type" non-beneficial columns

clean_medical_df = clean_medical_df.drop(columns=['record_no','status', 'record_type'])

In [10]:
# still need to decide how to encode record_sub_type, and how to handle date column, need to convert???
# need to break record_sub_type into spay and neuter and resident/clinic customer??

clean_medical_df.head()

   animal_type       date     record_sub_type
0            0  23-Mar-18  HSWC Spay Resident
1            0   2-Feb-18  HSWC Spay Resident
2            0  30-Jan-18  HSWC Spay Resident
3            0  25-Jan-18  HSWC Neut Resident
4            0   3-May-18  HSWC Spay Resident

In [8]:
#save cleaned df to csv
# save addresses dfs to separate csv files

clean_medical_df.to_csv('clean_medical.csv', index=False)